/* Custom color theme properties */
:root {
  --f7-theme-color: #6000ff;
  --f7-theme-color-rgb: 96, 0, 255;
  --f7-theme-color-shade: #5100d6;
  --f7-theme-color-tint: #7929ff;
}

/* Your app custom styles here */